/**global variables**/
$primary-color: #4baea0;
$secondary-color: #b6e6bd;
$tertiary-color: #f1f0cf;
$additional-color: #eb613b;
$secondary-font-family: 'Abel';

.title-area {
  box-sizing: border-box;
  width: 500px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid $secondary-color;
  outline: none;

  &:focus {
    border-color: $primary-color;
  }
}

.input-area {
  box-sizing: border-box;
  width: 500px;
  padding: 10px;
  border: 2px solid $secondary-color;
  border-radius: 5px;
  background-color: lighten($secondary-color, 15%);
  resize: none;
  outline: none;

  &:focus {
    border-color: $primary-color;
  }
}

.button {
  border: none;
  padding: 10px;
  margin: 20px 10px;
  color: $tertiary-color;
  width: 100px;
  height: 50px;
  font-family: $secondary-font-family;
  font-size: 18px;
}

.input-button {
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.reset-button {
  background-color: $additional-color;

  &:hover {
    background-color: darken($additional-color, 10%);
  }
}

.horizontal-line {
  border-top: 2px solid darken($secondary-color, 20%);
}
