/**global variables**/
$header-font-family: 'Abel';
$header-font-size: 30px;

/**reset**/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
form, label, table, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  background-color: darken(white, 1%);
}

.site-title {
  padding: 50px 0;
  font-family: $header-font-family;
  font-size: $header-font-size;
}
